<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.dorga.mantuan.leadcaptureintegrado" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light" >
        <activity
            android:name=".MainActivity_"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name=".LoginActivity_"
            android:label="@string/title_activity_login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SelecionaEventoFragment_"
            android:label="@string/selecione_evento" >
        </activity>
        <activity
            android:name=".br.dorga.mantuan.ListaCidades_"
            android:label="@string/title_activity_lista_cidades" >
        </activity>
        <activity
            android:name=".br.dorga.mantuan.ListaCursos_"
            android:label="@string/title_activity_lista_cursos" >
        </activity>
        <activity
            android:name=".br.dorga.mantuan.ListaLeads_"
            android:label="@string/title_activity_lista_leads" >
        </activity>
    </application>
</manifest>
